.content {
	display: flex;
	gap: 24px;
	&__cont {
		flex: 1 1 auto;
	}
	&__aside {
		flex: 0 0 280px;
	}
	&__slide {
		position: sticky;
		padding-top: 24px;
		top: 0;
		border-radius: 8px;
		box-shadow: -4px 5px 20px 0px var(--shadow);
	}
}
