.form {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 24px 32px;
	gap: 24px;
	z-index: 1;
	&:not(.form-blitz__form, .form-medium__form) {
		border-radius: 24px;
		box-shadow: -4px 5px 20px 0px var(--shadow);
		border-bottom: 2px solid var(--bg2);
	}
	&__item-cont {
		display: flex;
		flex-wrap: wrap;
		flex: 1 1 280px;
		justify-content: center;
		align-items: flex-end;
	}
	&__item {
		display: flex;
		// flex-direction: column;
		flex-wrap: wrap;
		flex: 1 1 280px;
		justify-content: center;
		align-items: flex-end;
		&.short {
			flex: 1 1 90px;
		}
		label {
			width: 100%;
			font-size: 12px;
			color: var(--text);
		}
		input {
			height: 40px;
			width: 100%;
			background: var(--bg2);
			border: 2px solid var(--bg3);
			border-radius: 4px;
			padding: 4px 12px;
		}
	}
	&__pay {
		display: flex;
		gap: 4px;
		flex: 0 0 100%;
		justify-content: center;
		img {
			height: 28px;
			width: auto;
			opacity: 0.6;
			&:hover {
				opacity: 1;
			}
		}
	}
	&__link {
		width: 100%;
		text-align: center;
		i {
			color: var(--accent);
		}
	}
}
