.form-blitz {
	padding: 32px 0;
	&__form {
		// display: flex;
		// justify-content: space-between;
		// gap: 32px;
	}
	.form__item {
		// display: flex;
		// flex-direction: column;
		// justify-content: flex-end;
		// flex: 1 1 280px;

		input {
			height: 40px;
			border-radius: 4px;
			border: 1px solid #dde3eb;
			background: var(--bg2);
		}
		.btn:hover {
			background: var(--active);
		}
	}
}
