.online-types {
	&__cont {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		align-items: stretch;
		transition: all 0.5s;
	}
	&__item {
		flex: 1 0 280px;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		background: var(--bg1);
		border-radius: 8px;
		padding: 24px;
		gap: 12px;
		cursor: pointer;
		transition: all 0.5s;
		.btn__height {
			height: 0;
			overflow: hidden;
			padding: 0 12px;
			width: 100%;
			margin-top: auto;
		}
		&:hover {
			.btn__height {
				padding: 12px;
				height: 48px;
			}
		}
	}
	&__img {
		width: 80px;
		height: 80px;
	}
	h4 {
		flex: 1 1 160px;
		margin: 0;
	}
}
