.icon-bolt:before { content: '\E900'; }
.icon-book-open:before { content: '\E901'; }
.icon-book:before { content: '\E902'; }
.icon-brain:before { content: '\E903'; }
.icon-chart-bar:before { content: '\E904'; }
.icon-chart-line:before { content: '\E905'; }
.icon-chart-pie:before { content: '\E906'; }
.icon-chart-simple:before { content: '\E907'; }
.icon-circle-nodes:before { content: '\E908'; }
.icon-euro-sign:before { content: '\E909'; }
.icon-feather-alt:before { content: '\E90A'; }
.icon-flask:before { content: '\E90B'; }
.icon-football:before { content: '\E90C'; }
.icon-gavel:before { content: '\E90D'; }
.icon-globe-americas:before { content: '\E90E'; }
.icon-hamsa:before { content: '\E90F'; }
.icon-hands-helping:before { content: '\E910'; }
.icon-hard-hat:before { content: '\E911'; }
.icon-heart-circle-check:before { content: '\E912'; }
.icon-landmark-dome:before { content: '\E913'; }
.icon-laptop-code:before { content: '\E914'; }
.icon-laptop-file:before { content: '\E915'; }
.icon-list-ul:before { content: '\E916'; }
.icon-microscope:before { content: '\E917'; }
.icon-paperclip:before { content: '\E918'; }
.icon-pen-nib:before { content: '\E919'; }
.icon-people-arrows:before { content: '\E91A'; }
.icon-percentage:before { content: '\E91B'; }
.icon-photo-video:before { content: '\E91C'; }
.icon-shuttle-space:before { content: '\E91D'; }
.icon-square-root-variable:before { content: '\E91E'; }
.icon-stethoscope:before { content: '\E91F'; }
.icon-street-view:before { content: '\E920'; }
.icon-tree-city:before { content: '\E921'; }
.icon-truck:before { content: '\E922'; }
.icon-users-gear:before { content: '\E923'; }
.icon-users:before { content: '\E924'; }
.icon-utensils:before { content: '\E925'; }
.icon-vector:before { content: '\E926'; }
.icon-wheelchair:before { content: '\E927'; }
.icon-alarm-clock:before { content: '\E928'; }
.icon-calculator:before { content: '\E929'; }
.icon-calendar:before { content: '\E92A'; }
.icon-call:before { content: '\E92B'; }
.icon-discount:before { content: '\E92C'; }
.icon-email:before { content: '\E92D'; }
.icon-guarantee:before { content: '\E92E'; }
.icon-pen:before { content: '\E92F'; }
.icon-phone:before { content: '\E930'; }
.icon-schedule:before { content: '\E931'; }
.icon-toc:before { content: '\E932'; }
.icon-whatsapp:before { content: '\E933'; }
.icon-whatsapp-w:before { content: '\E934'; }
